/* Banner.js */

.banner {

    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.banner h1 {
    margin-top: 4%;
    align-self: center;
}

.banner .search_bar {

    align-self: center;
    margin-bottom: 4%;

}

.banner_dropdown {

    width: 50% !important

}

/* SearchBar.js */ 

