/* Banner.js */



.banner {

    width:100%;
    background-color: hsl(0,0%,0%, 0.3);
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.5)), url("../images/concert.jpg");
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;

}

nav a {
    color: white;
}

.banner h1 {
    margin-top: 4%;
    align-self: center;
}

.banner .search_bar {

    align-self: center;
    margin-bottom: 4%;

}

.banner_dropdown {

    width: 50% !important

}

/* SearchBar.js */ 

.search_bar label {
    color: white !important;
}

.ui.form {
    font-size: .8em !important;
}

.event_input {

    height: 30px;

}

.label {
    text-align: left;
}

/* responsive edits */ 

@media screen and (max-width: 900px) {

    .banner {
        text-align: center;
    }


}